*{
    font-family: sans-serif
}  

  .l-header-menu-list-child{
    list-style: none;
    
    
  }


  .l-header-menu-list-child a{
    font-size: 22px;
    text-decoration: none;
    color:  whitesmoke;
    font-weight: bold;
    text-transform: uppercase;

   
  
  }
  
.l-header-menu-list-child a:after{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: relative;
    background: rgba(174, 16, 16, 0.707);
    transition: width 0.25s ease 0s, left 0.3s ease 0s;
    width: 0;
    -webkit-text-fill-color: transparent;
    
  }

  .l-header-menu-list-child a:hover:after { 
    width: 100%; 
    left: 0; 
  }


  .buttons-login:hover{
    transition: 250ms ease-in-out;
    background-color: orangered;

  }

  .buttons-login{
    transition: 700ms ease;
  }
           
 .footer{
  margin-top: 120px;
 }