* {
    font-family: 'arial', 'sans-serif';
    
}

.header-button{
    font-size: 13px;
    color: #4A5167;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 150ms ease
}

.header-button:hover{
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    padding: 13px;
    transition: 200ms ease;
    transform: scale(1.1);
    font-weight: 600;
    border-radius: 15px;
}

.header-login:hover{
    background-color: orange;
    transition: 200ms ease;
}
