/*Scheduler Map CSS*/

.l-header{
  height: 60px;
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: 0px 3px 10px 0.5px rgba(0, 0, 0, 0.09);
  padding-left: 3em;
  justify-content: flex-start;
  min-width: max-content;
  align-items: center;
}

.l-header-menu{
  display: block;
  height: auto;
  width: 1300px;
}

.l-header-menu-list{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
}


.l-header-menu-list-child a{
  text-align: center;
  text-decoration: none;
  color: rgba(23, 23, 23, 0.837);
  font-weight: bold;
  text-transform: uppercase;
}

.l-header-right{
  width: 300px;
}

.header-language{
  display: flex;
  justify-content: flex-end;
}

.header-language-select{
  width: 75px;
  border: none;
  font-family: Verdana;
  font-size: 0.85em;
  scroll-behavior: smooth;
}


.main-map{
  display: flex;
  margin-top: 25px;
}

.scheduler-schedule{
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.scheduler-edit{
  background-color: steelblue;
}